.movie__inner {
  ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    li {
      width: 23%;
      position: relative;
      margin: 0 auto;

      em {
        display: block;
        height: 80px;
        margin-bottom: 30px;
        font-family: var(--font-kor2);

        .title {
          display: inline-block;
          padding: 5px 0;
        }
        .star {
          background: #fff;
          color: #000;
          position: absolute;
          left: 10px;
          top: 10px;
          width: 30px;
          height: 30px;
          border-radius: 100px;
          text-align: center;
          line-height: 30px;
          font-weight: bold;
        }
      }
    }
  }
  a {
    color: var(--white);
  }
}

// movie__search

.movie__search {
  margin-bottom: 100px;
  .container {
    position: relative;
  }
  h2 {
    color: var(--white);
    font-size: 40px;
    text-indent: -9999px;
    height: 0;
  }
  input {
    background: #000;
    border: 1px solid #fff;
    border-radius: 50px;
    color: #fff;
    width: 100%;
    padding: 15px 30px;
    font-family: var(--font-kor2);
  }
  button {
    position: absolute;
    right: 10px;
    top: 6px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    font-family: var(--font-kor2);
    cursor: pointer;
    z-index: 1000;
  }
}

// movie List

.movie__inner {
  ul {
    li {
      a {
        text-align: center;
      }
      span {
        font-size: 20px;
      }
    }
  }
}

// slider

.movie__slider {
	height: 800px;
	.swiper {
		width: 100%;
		padding-top: 100px;
		padding-bottom: 220px;
	}
	.swiper-slide {
		background-position: center;
		background-size: cover;
		width: 300px;
		// height: 300px;
	}
	.swiper-slide img {
		display: block;
		width: 100%;
	}
}
.Movielist {
	position: relative;
	transition: all 0.4s;
	&:hover {
		transform: scale(1.07);
	}
	.rank {
		font-size: 80px;
		position: absolute;
		top: -50px;
		left: -10px;
		text-shadow: 4px 4px 2px rgba(255, 255, 255, 0.4);
		z-index: 10000;
	}
	.MovieImg {
		width: 300px;
	}
	.Moviestar {
		background: #fff;
		color: #000;
		border-radius: 100px;
		position: absolute;
		right: -230px;
		top: -35px;
		width: 40px;
		height: 25px;
		text-align: center;
		line-height: 25px;
		font-weight: 800;
	}
}
